<% content_for :css do  %>
  <%= stylesheet_link_tag "lightbox.css" %>
<% end %>

<% content_for :javascript do %>
   <%= javascript_include_tag "jquery-1.8.1.js" %>
   <%= javascript_include_tag "bootstrap.js" %>
   <%= javascript_include_tag "lightbox.js" %>
<% end %>

<% content_for :menu do %>
   <li class="active"><a href="/porte/<%= @porte.slug %>"><%= @porte.title %></a></li>
<% end %>

<br />
<br />

<div class="marketing">
   <h3>La portée de <%=raw @porte.title %>.</h3>
</div>


<div class="row">
   <div class="span12">
      <table class="table table-striped">
         <thead>
         </thead>
         <tbody>
      <% @porte.puppies.each do |t| %>
         <tr>
         <td colspan="7"><a href="/chiot-dogue-allemand/<%= t.slug %>"><%= image_tag t.file.normal_admin, :class => "img-polaroid"  %></a></td>
         <td><b><%= t.title %></b></td>
               <td><%= t.sex %> </td>
               <td><%= t.couleur %></td>
               <td><%= t.dispo %></td>
               <td><a href="/chiot-dogue-allemand/<%= t.slug %>" class="btn btn-primary">Fiche de <%= t.title %></a></td>
            </tr>
      <% end %>
         </tbody>
      </table>
   </div>
</div>


