<!DOCTYPE html>
<html>
<head>
   <title>Elevage Des Fées de Celestia, Dogue Allemand - Mayenne</title> 

   <meta name="viewport" content="width=device-width, initial-scale=-1.0">

   <%= stylesheet_link_tag    "bootstrap" %>
   <%= stylesheet_link_tag    "bootstrap-responsive" %>
   <%= stylesheet_link_tag    "welcome" %>
   <%= yield :css %>

   <%= csrf_meta_tags %>
   
   <%= yield :js_head %>


   <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34857815-1']);
      _gaq.push(['_setDomainName', 'elevage-fees-de-celestia.fr']);
      _gaq.push(['_trackPageview']);

      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

   </script>

</head>
     <body id="finouka">
       
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
         fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      </script>

      <%= render :partial => "shared/banners" %>

   <div id="container">
      <%= render :partial => "shared/jumbobox" %>
  </div>

  <div class="bs-docs-social" style="background-color: #eee; border-bottom: 1px solid #ccc; height: 18px">
     <div class="container">
        <ul class="breadcrumb">
           <li class="actif"><a href="/">Home</a> <span class="divider">/</span></li> 
           <%= yield :menu %>
      </ul>
   </div>
</div>

<div class="container"> 
      <%= yield %>

      <div class="contact" style="margin-top: 50px;">
         <%= render :partial => "shared/contact" %> 
      </div>
   </div>
   <div id="footer">
   </div>

   <%= yield :javascript %>

</body>
</html>
